
@media screen and (max-width: 600px) {
  .BottomNavbar {
      flex-direction: column;
      align-items: center;
  }
 .inp{
  flex-direction: column;
  max-width: 13rem;
  }
 .Inp{
   max-width: 20rem;
  }
  .mediaremove {
    display: none;
    
  }
  .mediaIcon {
    display: inline-block;
  }
}
 

  

  






